:root {
    --slider-height: 10rem;
    --half-slider-height: calc(var(--slider-height) / 2);
}

* {
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: var(--slider-height);
    height: var(--slider-height);
    color: white;
    text-align: center;
    border-radius: 50%;
    padding-top: 20%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 1s ease;
    transform-origin: center center;
}

.orbs {
    width: 5vw;
    position: absolute;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(var(--rotation, 0deg))) translate(0, -50%);
    transition: transform 1s ease, z-index 1s ease;
}

.orbs img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform .4s ease, z-index .4s ease;
    transform: scale(var(--scale, .9));
}

.orbs[data-img-no="1"] {
    --rotation: 0deg;
}

.orbs[data-img-no="2"] {
    --rotation: 120deg;
}

.orbs[data-img-no="3"] {
    --rotation: 240deg;
}

.orbs img:hover {
    --scale: 0.8;
}

.title {
    position: absolute;
    text-align: center;
}

.texts{
    flex-direction: column;
    position: absolute;
    height: var(--half-slider-height);
    text-align: center;
    top: 55%;

    .text-item{
        width: 80%;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s ease-in-out 0.3s, height .5s .3s;

        a{
            text-decoration: none;
            border: 2px solid white;
            padding: 1rem;
            border-radius: 15px;
        }
        a:hover{
            scale: 0.9;
            box-shadow: 3px 3px 2px white;
        }
    }
    .text-item.active{
        opacity: 1;
        height: 100%;
    }
}
