*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

section.one{
    padding-left: 20%;
    
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1000px;
        padding-bottom: 2rem;

        h1{
            font-size: 9rem;
        }

        p{
            font-size: 2rem;
            text-align: center;
        }
    }

    .content{
        display: flex;
        flex-direction: row;
        .first{
            width: 500px;
        }
        p{
            font-size: 2rem;
        }
    }
}